<template>
    <div id="app">
        <notifications group="app-notifications" position="top center" />
        <div id="nav">
            <!--<router-link to="/">Home</router-link> |-->
            <!--<router-link to="/about">About</router-link>-->
            <NavBar />
        </div>
        <router-view/>
    </div>
</template>

<script>
import NavBar from './components/NavBar.vue';

export default {
  components: {
    NavBar,
  },
};
</script>

<style lang="scss" src="./assets/css/main.scss"> </style>
