<template>
    <div class="book-page mb-5">
        <b-container class="mt-5 p-4 book-info-container">
            <b-row>
                <b-col lg="4" class="text-center">
                    <b-img :src="bookInfo.imagePath" rounded fluid alt="Fluid image" />
                </b-col>
                <b-col lg="8">
                    <h2 class="mt-4 mt-lg-0">{{ bookInfo.title }}</h2>
                    <h6>by {{bookInfo.author}}</h6>


                    <div class="description mt-4">
                        <p><span v-html="bookDescriptionShow"></span><a href="#" class="changeDescSize" v-if="renderShowMore" v-on:click.prevent="descriptionSize">{{expandStatus}}</a></p>
                    </div>

                    <hr>

                    <ul class="informations">
                        <li class="information"><span class="label">Release date:</span> {{bookInfo.releaseDate}}</li>
                        <li class="information"><span class="label">ISBN:</span> {{bookInfo.isbn}}</li>
                        <li class="information"><span class="label">Genres:</span> {{bookInfo.genres}}</li>
                        <li class="information"><span class="label">Publisher:</span> {{bookInfo.publisher}}</li>
                    </ul>

                    <div class="text-center text-lg-left">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label class="font-weight-bold">Rating:</label>
                                <rate :length="5" :value="bookInfo.avgRating" :showcount="true" :readonly="true"  />
                            </div>
                            <div class="col-12 col-lg-6">
                                <change-book-status v-if="isLogged" class="mt-3 mt-lg-0" :userStatus.sync="localBookStatusUser" :button-text="renderAddToListText" />
                            </div>
                        </div>
                    </div>

                </b-col>
            </b-row>
        </b-container>

        <b-container class="mt-5 p-4 book-reviews-container" v-if="renderReviewTextArea">
            <h2>Write your review here</h2>
            <b-form-textarea
                    id="textarea"
                    v-model="userReview.content"
                    placeholder="Enter your review"
                    rows="3"
                    max-rows="6"
                    class="mt-3"
            />
            <rate :length="5" class="d-inline-flex" v-model="userReview.rating" />
            <div class="mt-2 float-right">
                <b-button size="sm" variant="outline-primary" v-on:click="sendReview">Submit!</b-button>
            </div>
        </b-container>

        <book-reviews :list-data="bookReviews" />
    </div>
</template>


<script>
    import axios from 'axios';
    import BookReviews from "../components/BookReviews";
    import ChangeBookStatus from "../components/ChangeBookStatus";

    export default {
        components: {ChangeBookStatus, BookReviews},
        beforeCreate() {
            // this.userId = this.$route.params.id;

            const config = {
                headers: {
                    Authorization: 'Bearer ' + this.$store.state.idToken
                }
            };

            axios.get(`/books/info/${this.$route.params.id}`, config)
                .then(book => {
                    this.bookInfo = book.data;
                    this.bookInfo.imagePath = axios.defaults.baseURL+ '/' + book.data.imagePath;
                    this.bookShortDescription = book.data.description.substring(0,128) + '...';

                    if(book.data.description.length > 130) {
                        this.bookDescriptionShow = this.bookShortDescription;
                    } else {
                        this.bookDescriptionShow = book.data.description;
                    }
                    this.localBookStatusUser = this.bookInfo.bookStatusUser
                })

            axios.get(`/reviews/book/${this.$route.params.id}`)
                .then(reviews => {
                    this.bookReviews = reviews.data.reviews;
                })
        },

        data() {
            return {
                bookInfo: {},
                bookShortDescription: null,
                bookDescriptionShow: null,
                expandStatus: "Show More",
                addToListText: null,
                localBookStatusUser: null,
                userReview: {
                    content: "",
                    rating: null,
                    bookId: this.$route.params.id
                },
                bookReviews: []
            }
        },
        methods: {
            sendReview() {
                this.$store.dispatch('userAddReview', this.userReview);
            },
            descriptionSize() {
               if(this.bookDescriptionShow === this.bookShortDescription) {
                   this.bookDescriptionShow = this.bookInfo.description
                   this.expandStatus = "Show Less"
               } else {
                   this.bookDescriptionShow = this.bookShortDescription
                   this.expandStatus = "Show More"
               }
            }
        },
        computed: {
            renderShowMore() {
                if (this.bookInfo.description) {
                    return this.bookInfo.description.length > 130
                }
            },
            isLogged() {
                return this.$store.getters.userIsLogged;
            },
            renderAddToListText() {
                if(this.localBookStatusUser !== null) {
                    return "Update status"
                } else {
                    return "Add book to my list"
                }
            },
            renderReviewTextArea() {
                return this.isLogged && this.bookInfo.reviewdByUser === false && this.localBookStatusUser === "finished"
            }
        }
    };
</script>
