<template>
    <b-container class="comparing-page">
        <h2>{{`Comparing lists with ${username}`}}</h2>

        <compare-results :list-data="uniqueA" :list-title='"Unique to " + this.$store.state.username' />

        <compare-results :list-data="uniqueB" :list-title='"Unique to " + username' />

        <compare-results :list-data="matches" :list-title='"Shared Books Between " + username + " and " + this.$store.state.username' />
    </b-container>
</template>


<script>

    import axios from 'axios';
    import CompareResults from "../components/CompareResults";

    export default {
        components: {CompareResults},
        created() {

            const config = {
                headers: {
                    Authorization: 'Bearer ' + this.$store.state.idToken
                }
            };

            axios.get(`/users/compare/${this.$route.params.id}`, config)
                .then(lists => {
                    this.uniqueA = lists.data.uniqueA;
                    this.uniqueB = lists.data.uniqueB;
                    this.matches = lists.data.matches;
                    this.username = lists.data.username;
                })
        },

        data() {
            return {
                uniqueA: [],
                uniqueB: [],
                matches: [],
                username: null
            };
        },
    };
</script>
