<template>
  <div class="home">
    <random-books title="Our library" />
  </div>
</template>

<script>
import RandomBooks from "../components/RandomBooks"
export default {
  name: 'home',
  components: {RandomBooks},
};
</script>
