<template>
    <div class="login-form">
        <b-form @submit="onSubmit">
            <b-form-group
                id="loginEmailGroup"
                label="Email"
                label-for="loginEmail">
                    <b-form-input
                        id="loginEmail"
                        type="email"
                        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                        v-model="form.email"
                        required
                        placeholder="Email">
                    </b-form-input>
            </b-form-group>
            <b-form-group
                id="loginPasswordGroup"
                label="Password"
                label-for="loginPassword">
                    <b-form-input
                        id="loginPassword"
                        type="password"
                        v-model="form.password"
                        required
                        placeholder="Password">
                    </b-form-input>
            </b-form-group>
            <b-link href="/register">I don't have an account!</b-link>
            <div class="mt-3">
                <b-button type="submit" variant="primary">Login</b-button>
            </div>
        </b-form>
    </div>
</template>


<script>
export default {

  data() {
    return {
      form: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.$store.dispatch('login', {email: this.form.email, password: this.form.password});
    },
  },
};
</script>
