<template>
    <div class="register-form">
        <b-form @submit="onSubmit">
            <b-form-group
                    id="registerEmailGroup"
                    label="Email"
                    label-for="registerEmail">
                <b-form-input
                        id="registerEmail"
                        type="email"
                        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                        v-model="form.email"
                        required
                        placeholder="Email">
                </b-form-input>
            </b-form-group>
            <b-form-group
                id="registerUsernameGroup"
                label="Username"
                label-for="registerUsername">
                    <b-form-input
                        id="registerUsername"
                        type="text"
                        v-model="form.username"
                        required
                        placeholder="Username">
                    </b-form-input>
            </b-form-group>
            <b-form-group
                id="registerPasswordGroup"
                label="Password"
                label-for="registerPassword">
                    <b-form-input
                        id="registerPassword"
                        type="password"
                        v-model="form.password"
                        required
                        placeholder="Password">
                    </b-form-input>
            </b-form-group>
            <b-link href="/login">I have an account!</b-link>
            <div class="mt-3">
                <b-button type="submit" variant="primary">Register</b-button>
            </div>
        </b-form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                username: '',
                email: '',
                password: ''
            },
        };
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault();
            this.$store.dispatch('register', {
                username: this.form.username,
                email: this.form.email,
                password: this.form.password
            });
        }
    }
}
</script>
