<template>
    <b-container>
        <div class="advanced-search">
            <h3>Advanced Search</h3>

            <b-form-input v-model="bookTitle" placeholder="Book title"></b-form-input>

            <b-form-input v-model="bookAuthor" placeholder="Author name"></b-form-input>

            <b-form-input v-model="bookPublisher" placeholder="Publisher name"></b-form-input>

            <b-form-input v-model="bookISBN" placeholder="ISBN"></b-form-input>

            <b-form-select v-model="bookGenres" :options="genres"></b-form-select>

            <b-button block variant="primary" class="mt-4" @click="searchBook">Search</b-button>
        </div>
    </b-container>
</template>


<script>
    export default {

        data() {
            return {
                bookTitle: null,
                bookAuthor: null,
                bookPublisher: null,
                bookGenres: null,
                bookISBN: null,
                genres: [
                    { text: 'Filter by genre', value: null },
                    { text: 'Action', value: 'action' },
                    { text: 'Biography', value: 'biography' },
                    { text: 'Comedy', value: 'comedy' },
                    { text: 'Crime', value: 'crime' },
                    { text: 'Drama', value: 'drama' },
                    { text: 'Dystopia', value: 'dystopia' },
                    { text: 'Fantasy', value: 'fantasy' },
                    { text: 'Horror', value: 'horror' },
                    { text: 'Mistery', value: 'mistery' },
                    { text: 'Novel', value: 'novel' },
                    { text: 'Poetry', value: 'poetry' },
                    { text: 'Romance', value: 'romance' },
                    { text: 'Science Fiction', value: 'scienceFiction' },
                    { text: 'Thriller', value: 'thriller' },
                ]
            };
        },
        methods: {
            searchBook() {
                this.$router.push({
                    name: 'SearchResults',
                    params: {
                        bookTitle: this.bookTitle,
                        bookAuthor: this.bookAuthor,
                        bookPublisher: this.bookPublisher,
                        bookISBN: this.bookISBN,
                        bookGenres: [this.bookGenres]
                    }
                })
            }

        },
    };
</script>
