<template>
    <b-container>
        <book-search-results :list-data="bookResults" />
    </b-container>
</template>


<script>
    import axios from 'axios';
    import BookSearchResults from "../components/BookSearchResults";
    export default {
        components: {BookSearchResults},
        created() {
            if(!this.emptyProps) {
                axios.post("/books/search",{
                    title: this.bookTitle,
                    author: this.bookAuthor,
                    publisher: this.bookPublisher,
                    genres: this.bookGenres,
                    isbn: this.bookISBN
                })
                .then(results => {
                    this.bookResults = results.data.results
                }).catch(error => {
                    showNotification({
                        type: "error",
                        title: error.response.statusText,
                        text: error.response.data.message
                    });
                })
            } else {
                this.$router.push({path: '/search'})
            }
        },

        data() {
            return {
                bookResults: []
            };
        },

        props: {
            bookTitle: {
                type: String,
                default: null
            },
            bookAuthor: {
                type: String,
                default: null
            },
            bookPublisher: {
                type: String,
                default: null
            },
            bookGenres: {
                type: Array,
                default: null
            },
            bookISBN: {
                type: String,
                default: null
            },
        },

        computed: {
            emptyProps() {
                return this.bookTitle === null && this.bookTitle === null && this.bookAuthor === null && this.bookPublisher === null && this.bookGenres === null && this.bookISBN === null;
            }
        },
    };
</script>
