<template>
    <b-container class="requests-container mt-5">
        <h3> Your requested books</h3>

        <b-table responsive light head-variant="light" :items="requests" show-empty ></b-table>
    </b-container>
</template>


<script>

    import axios from 'axios'

    export default {

        created() {
            const config = {
                headers: {
                    Authorization: 'Bearer ' + this.$store.state.idToken
                }
            };

            axios.get('users/get/requests', config)
                .then(requests => {
                    let requestList = requests.data.requests;
                    let cellColor;

                    for (let i = 0; i < requestList.length; i++) {

                        if (requestList[i].status === 'accepted') cellColor = "success";
                        if (requestList[i].status === 'pending') cellColor = "warning";
                        if (requestList[i].status === 'rejected') cellColor = "danger";

                        let temporyObject = {
                            title: requestList[i].title,
                            author: requestList[i].author,
                            status: requestList[i].status,
                            _cellVariants: { status: cellColor }
                        };

                        this.requests.push(temporyObject)
                    }
                })
        },

        data() {
            return {
                requests: [],
            };
        },
        methods: {

        },
    };
</script>
