<template>
    <div class="user-list mb-5">

        <h1 class="mt-5">{{username}}'s Book List</h1>

        <div class="lists-container" v-if="showLists">
            <user-list-container title="Currently Reading" :list-data="readingBooks" action="started" />

            <user-list-container title="Finished" :list-data="finishedBooks" action="finished" />

            <user-list-container title="Planned" :list-data="plannedBooks" action="added" />

            <user-list-container title="Unfinished" :list-data="unfinishedBooks" action="dropped" />
        </div>

        <div class="privateProfile container mt-5" v-else>
            <b-alert show variant="danger" class="text-center">List unavailable! This profile is private!</b-alert>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';
    import UserListContainer from "../components/UserListContainer";

    export default {
        components: {UserListContainer},
        created() {
            axios.get(`/profile/list/${this.$route.params.id}`)
                .then(lists => {
                    this.readingBooks = lists.data.reading;
                    this.finishedBooks = lists.data.finished;
                    this.plannedBooks = lists.data.planned;
                    this.unfinishedBooks = lists.data.unfinished;
                    this.username = lists.data.username;
                    this.privateProfile = lists.data.privateProfile;
                })
        },

        data() {
            return {
                readingBooks: [],
                finishedBooks: [],
                plannedBooks: [],
                unfinishedBooks: [],
                username: null,
                privateProfile: null
            }
        },
        methods: {

        },
        computed: {
            isUsersProfile() {
                return this.$store.state.idUser.toString() === this.$route.params.id;
            },
            isPrivate() {
                return this.privateProfile;
            },
            showLists() {
                return this.isUsersProfile || !this.isPrivate;
            },
        }
    };
</script>
