<template>
    <div class="user-page mb-5">
        <b-container class="mt-5 p-4 user-info-container">
            <h2 class="mt-4 mt-lg-0">{{userInfo.username}}'s profile</h2>
            <div class="badge-area">
                <b-badge pill variant="danger" v-if="isPrivate">Private</b-badge>
                <b-badge pill variant="primary" v-else>Public</b-badge>
            </div>
            <ul class="user-stats mt-3">
                <li class="information">
                    <span class="label">Joined:</span> {{userInfo.numberOfDays}} days ago
                </li>

                <li class="information">
                    <span class="label">Reviews:</span> {{userInfo.numberOfReviews}}
                </li>

                <li class="information">
                    <span class="label">Comments:</span> {{userInfo.numberOfComments}}
                </li>

                <li class="information">
                    <span class="label">Mean score:</span> {{userInfo.meanScore}} &#9733;
                </li>

                <li class="information">
                    <span class="label">Currently reading:</span> {{userInfo.reading}}
                </li>

                <li class="information">
                    <span class="label">Finished:</span> {{userInfo.finished}}
                </li>

                <li class="information">
                    <span class="label">Planned to read:</span> {{userInfo.planned}}
                </li>

                <li class="information">
                    <span class="label">Unfinished:</span> {{userInfo.unfinished}}
                </li>
            </ul>

            <div class="additional-feature text-center">
                <div class="row">
                    <div class="col-12 col-lg-6 mt-3" v-if="showActivity">
                        <b-button variant="primary" :href="'/list/' + this.$route.params.id">{{userInfo.username}}'s list</b-button>
                    </div>
                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                        <b-form-checkbox v-model="userInfo.privateProfile" name="check-button" switch @change="changePrivacy" v-if="isUsersProfile">
                            Private list
                        </b-form-checkbox>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-6 mt-3">
                        <b-button variant="primary" :disabled=disableCompare :href="'/compare-user/' + this.$route.params.id">Compare with this user</b-button>
                    </div>
                    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                        <user-compatibility :disabled=disableCompare />
                    </div>
                </div>
            </div>
        </b-container>

        <profile-activity :username="userInfo.username" v-if="showActivity" />

        <user-comments/>
    </div>
</template>


<script>
    import axios from 'axios';
    import ProfileActivity from '../components/ProfileActivity';
    import UserCompatibility from "../components/UserCompatibility";
    import UserComments from "../components/UserComment";

    export default {
        components: {UserComments, UserCompatibility, ProfileActivity},
        created() {
            axios.get(`/profile/info/${this.$route.params.id}`)
                .then(info => {
                    this.userInfo = info.data;
                })
        },

        data() {
            return {
                userInfo: {},
            }
        },
        methods: {
            changePrivacy(evt) {
                this.$store.dispatch('changeUserPrivacy', {id: this.$route.params.id});
            }
        },
        computed: {
            isUsersProfile() {
                if(this.$store.getters.userIsLogged) {
                    return this.$store.state.idUser.toString() === this.$route.params.id
                } else {
                    return false
                }

            },
            isPrivate() {
                return this.userInfo.privateProfile;
            },
            showActivity() {
                return this.isUsersProfile || !this.isPrivate;
            },
            isAdmin() {
                return this.$store.getters.userIsAdmin;
            },
            disableCompare() {
                return !this.$store.getters.userIsLogged || (this.isUsersProfile || this.isPrivate);
            }
        }
    };
</script>
