.book-info-container {
  background-color: #D8D8D8;
  border-radius: 10px;

  @media (max-width: 992px) {
    img {
      margin: 0 auto;
      display: block;
    }
  }

  .Rate {

    display: inline-flex;

    button {
      color: darkgray;
      outline: none;
    }
  }

  .Rate__view {
    display: inline-flex;
  }

  h2 {
    font-weight: bold;
  }

  h2, h6 {
    text-align: center;
  }

  h2, h6, .description {
    font-family: "Times New Roman";
  }

  .description {
    font-size: 24px;
    @media (max-width: 992px) {
      text-align: center;
      font-size: 20px;
    }

    a {
      text-decoration: none;
    }
  }

  .informations {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    -webkit-column-gap: 0; /* Chrome, Safari, Opera */
    -moz-column-gap: 0; /* Firefox */
    column-gap: 0;

    padding: 0;

    @media (max-width: 992px) {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      text-align: center;
    }

    .information {
      .label {
        font-weight: bold;
      }
    }
  }
}