.book-reviews-container {
  background-color: #D8D8D8;
  border-radius: 10px;

  h2 {
    font-weight: bold;
    text-align: center;
  }

  textarea + div {
    text-align: right;
  }

  .user-review {
    border-radius: 10px;
    background-color: white;
  }

  .Rate {
    button {
      color: darkgray;
      outline: none;
    }
  }
}