.comparing-page {
  h2 {
    text-align: center;
    font-weight: bold;
    margin: 40px 0;
  }

  h3 {
    text-align: center;
    font-weight: bold;

  }

  ul {
    list-style: none;

    li {
      background-color: #f9f9f9;
      margin: 20px 0;
      padding: 15px;
      border-radius: 30px;
      font-size: 18px;
      text-align: center;

      a {
        font-weight: bolder;
      }

      .author {
        font-style: italic;
      }
    }
  }

  .compare-list {
    background-color: #D8D8D8;
    border-radius: 10px;
  }

  .list-total {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    color: #999999;
  }
}

.compatibility {
  label {
    font-weight: bold;
    margin-right: 5px;
  }
}