.featured-area, .book-search-result {
  background-color: #D8D8D8;
  border-radius: 10px;

  h2 {
    font-weight: bold;
    font-family: "Times New Roman";
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .book-container {
    border-radius: 10px;
    background-color: white;
    padding: 15px 0;

    img {
      max-width: 150px;
      max-height: 220px;
    }

    h6 {
      text-align: center;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 0;
    }

    .author {;
      text-align: center;
      margin: 0;
    }

    .Rate {
      text-align: center;
    }
  }
}