.user-list {

  h1 {
    text-align: center;
    font-weight: bold;

  }

  .user-list-container {
    background-color: #D8D8D8;
    border-radius: 10px;

    h2 {
      text-align: center;
      font-weight: bold;
    }

    .list-total {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      font-size: 14px;
      color: #999999;
    }

    .list-item {
      border-radius: 10px;
      background-color: white;
      padding: 15px;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
  }
}