.requests-container {

  background-color: #D8D8D8;
  border-radius: 10px;
  padding: 20px;

  h3 {
    font-weight: bold;
    text-align: center;
  }

  table {
    background-color: white;
    margin-top: 50px;
  }
}

.request-info {

  img {
    max-width: 100px;
    height: auto;
  }

  h2 {
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .author {
    font-style: italic;
    font-size: 14px;
    font-weight: 100;
  }

  .description {
    margin-top: 20px;
  }

  ul {
    columns: 2;
    list-style: none;
    margin-top: 20px;

    @media (max-width: 756px) {
      columns: 1;
    }
  }

  .action-buttons {

    margin-top: 40px;

    button {
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
}

