.advanced-search {
  background-color: #D8D8D8;
  border-radius: 10px;
  margin-top: 30px;
  padding: 15px;

  h3 {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
  }

  input, select {
    width: 50%;
    margin: 10px auto;
    display: block;
  }

  button {
    width: 15%;
    min-width: 100px;
    margin: 10px auto;
    display: block;
  }
}