.user-comments-container {

  background-color: #D8D8D8;
  border-radius: 10px;

  h3 {
    font-weight: bold;
    text-align: center;
  }

  textarea + div {

    &.negative {
      span {
        color: red;
      }
    }

    text-align: right;
  }

  .buttons-wrapper {
    text-align: center;
    button + button {
      margin-left: 10px;
    }
  }

  .reply-mode {
    color: #727375;
    font-size: 14px;
    margin: 5px 15px;
    font-weight: bold;
    display: block;
  }
}