.user-info-container, .user-history-container {
  background-color: #D8D8D8;
  border-radius: 10px;

  h2 {
    text-align: center;
    font-weight: bold;

    + .badge-area {
      text-align: center;
      margin-bottom: 25px;
    }
  }

  .user-stats {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;

    -webkit-column-gap: 0; /* Chrome, Safari, Opera */
    -moz-column-gap: 0; /* Firefox */
    column-gap: 0;

    padding: 0;

    @media (max-width: 992px) {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;

    }

    .information {
      .label {
        font-weight: bold;
      }
    }
  }

  //user history
  .history-activity {
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;
    }

    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }
}