<template>
    <b-container class="mt-5 p-4 book-search-result">

        <h2 class="text-center">Book Results</h2>

        <b-row>
            <div class="col-12 col-sm-6 col-lg-4 mt-4" v-for="book in paginatedData">
                <div class="book-container">
                    <b-link target="_blank" :href="'/book/' + book.id">
                    <b-img :src="generateImageURL(book.imagePath)" center :alt="book.title" />
                        <h6>{{book.title}}</h6>
                        <p class="author">by {{book.author}}</p>
                    </b-link>
                    <thumbnail-book-rating :bookID="book.id" />
                    <thumbnail-change-status :bookID="book.id" v-if="isLogged"/>
                </div>
            </div>
        </b-row>

        <div class="mt-4 mt-xl-5 text-center">
            <b-button variant="dark" :disabled="pageNumber === 0" @click="prevPage">Previous</b-button>
            <b-button variant="dark" :disabled="pageNumber >= pageCount" @click="nextPage" class="ml-3">Next</b-button>
        </div>

    </b-container>
</template>

<script>
    import axios from 'axios';
    import ThumbnailChangeStatus from "./ThumbnailChangeStatus";
    import ThumbnailBookRating from "./ThumbnailBookRating";

    export default {
        name: "BookSearchResults",
        components: {ThumbnailBookRating, ThumbnailChangeStatus},
        data(){
            return {
                pageNumber: 0
            }
        },
        props:{
            listData:{
                type:Array,
                required:true
            },
            size:{
                type:Number,
                required:false,
                default: 6
            }
        },
        methods:{
            nextPage(){
                this.pageNumber++;
            },
            prevPage(){
                this.pageNumber--;
            },
            generateImageURL(imagePath) {
                return axios.defaults.baseURL+ '/' + imagePath;
            }
        },
        computed:{
            pageCount(){
                let l = this.listData.length,
                    s = this.size;
                return Math.floor(l/s);
            },
            paginatedData(){
                const start = this.pageNumber * this.size,
                    end = start + this.size;
                return this.listData
                    .slice(start, end);
            },
            isLogged() {
                return this.$store.getters.userIsLogged;
            },
        },
    }
</script>