<template>
    <b-container class="mt-5 p-4 book-reviews-container">
        <h2>Users Reviews</h2>

        <div class="mt-3 p-4 user-review" v-if="paginatedData.length <= 0">
            <blockquote class="blockquote">
                <p class="mb-0 text-center">No comments available</p>
            </blockquote>
        </div>

        <div v-for="review in paginatedData">
            <div class="mt-3 p-3 user-review">
                <blockquote class="blockquote">
                    <p class="mb-0">{{review.content}}</p>
                    <footer class="blockquote-footer"><a :href='"/user/" + review.id'>{{review.username}}</a> ({{review.rating}}&#9733;) on {{review.createdAt}}</footer>
                </blockquote>
            </div>
        </div>
        <div class="mt-4 mt-xl-5 text-center">
            <b-button variant="dark" :disabled="pageNumber === 0" @click="prevPage">Previous</b-button>
            <b-button variant="dark" :disabled="pageNumber >= pageCount" @click="nextPage" class="ml-3">Next</b-button>
        </div>
    </b-container>
</template>

<script>
    export default {
        name: "BookReviews",
        data(){
            return {
                pageNumber: 0
            }
        },
        props:{
            listData:{
                type:Array,
                required:true
            },
            size:{
                type:Number,
                required:false,
                default: 5
            }
        },
        methods:{
            nextPage(){
                this.pageNumber++;
            },
            prevPage(){
                this.pageNumber--;
            }
        },
        computed:{
            pageCount(){
                let l = this.listData.length,
                    s = this.size;
                return Math.floor(l/s);
            },
            paginatedData(){
                const start = this.pageNumber * this.size,
                    end = start + this.size;
                return this.listData
                    .slice(start, end);
            }
        },
    }
</script>