<template>
    <div class="userList">
        <b-button variant="primary" @click="showModal">{{buttonText}}</b-button>

        <b-modal ref="bookStatus-modal" hide-footer centered title="Select current status for this book">
            <div class="status-selector d-block text-center">
                <b-button id="reading" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus">
                    <font-awesome-icon icon="book-open" class="mr-2"/> Reading
                </b-button>

                <b-button id="finished" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus">
                    <font-awesome-icon icon="flag-checkered" class="mr-2" /> Finished
                </b-button>

                <b-button id="planned" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus">
                    <font-awesome-icon icon="chart-line" class="mr-2" />Planned
                </b-button>

                <b-button id="unfinished" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus">
                    <font-awesome-icon icon="book-dead" class="mr-2" />Unfinished
                </b-button>

                <b-button v-if="showDelete" variant="danger" class="d-block mx-auto mt-5" @click="deleteStatus">Remove book</b-button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import axios from 'axios';
    import {showNotification} from "../utilities";

    export default {
        name: "ChangeBookStatus",
        data(){
            return {

            }
        },
        props:{
            userStatus:{
                default: null
            },
            buttonText: {
                type: String,
                required: true
            }
        },
        methods:{
            initialize() {
                const selector = document.getElementsByClassName("status-selector")[0].children;
                for (let i = 0; i < selector.length; i++) {
                    if (selector[i].id) {
                        selector[i].classList.add('btn-outline-primary')
                        selector[i].classList.remove('btn-primary');
                    }
                }
            },
            showModal() {
                this.$refs['bookStatus-modal'].show();
                this.initialize();
                if (this.userStatus !== null) {
                    const button = document.getElementById(this.userStatus);
                    button.classList.remove('btn-outline-primary')
                    button.classList.add('btn-primary');
                }
            },
            hideModal() {
                this.$refs['bookStatus-modal'].hide()
            },
            updateStatus(event) {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };
                axios.post(`/profile/list/updatestatus/${this.$route.params.id}`,{
                    status: event.target.id
                }, config).then(res => {
                    showNotification({
                        type: "success",
                        title: "List change",
                        text: res.data.message
                    });
                    this.$emit('update:userStatus', event.target.id)
                    this.hideModal();
                }).catch(error => {
                    showNotification({
                        type: "danger",
                        title: "Error",
                        text: error.data.message
                    });
                })
            },
            deleteStatus() {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };
                axios.delete(`/profile/list/deletestatus/${this.$route.params.id}`, config).then(res => {
                    showNotification({
                        type: "success",
                        title: "List change",
                        text: res.data.message
                    });
                    this.$emit('update:userStatus', null)
                    this.hideModal();
                }).catch(error => {
                    showNotification({
                        type: "danger",
                        title: "Error",
                        text: error.data.message
                    });
                })
            }
        },
        computed:{
            showDelete() {
                return this.userStatus !== null;
            },
        },
    }
</script>