<template>
    <b-container class="mt-5 p-4 compare-list">
        <h3>{{listTitle}}</h3>

        <div class="list-total">
            (Total: {{listSize}})
        </div>

        <div class="mt-3 p-3 book-list">
            <ul>
                <li v-for="book in listData">
                    <a :href='"/book/" + book.id'>{{book.title}}</a> by <span class="author">{{book.author}}</span>
                </li>
            </ul>
        </div>
    </b-container>
</template>

<script>
    export default {
        name: "CompareResults",
        data(){
            return {

            }
        },
        props:{
            listData:{
                type:Array,
                required:true
            },
            listTitle: {
                type: String,
                required: true
            }
        },
        computed: {
            listSize(){
                return this.listData.length;
            },
        },
    }
</script>