<template>
    <b-navbar toggleable="md" type="dark" variant="dark">

        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-navbar-brand href="/">MyBookList</b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">

            <b-navbar-nav>
                <b-nav-item class="d-md-none" href="/search">Search</b-nav-item>

                <b-nav-item-dropdown v-if="isLogged"  right>
                    <template slot="button-content">
                        <em>Book Requests</em>
                    </template>
                    <b-dropdown-item href="/requestbook/new">Request a book</b-dropdown-item>
                    <b-dropdown-item href="/requestbook/view">View book requests</b-dropdown-item>
                </b-nav-item-dropdown>

                <b-nav-item-dropdown v-if="isAdmin"  right>
                    <template slot="button-content">
                        <em>Admin</em>
                    </template>
                    <b-dropdown-item href="/admin/newbook">Add new book</b-dropdown-item>
                    <b-dropdown-item href="/admin/bookrequests">Review Book Requests</b-dropdown-item>
                    <b-dropdown-item href="/admin/manageusers">Manage Users</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-form class="mr-4 d-none d-md-flex" v-on:submit.prevent="searchBook">
                    <b-form-input v-model="searchText" size="sm" class="mr-sm-2" placeholder="Search Books" autocomplete="off"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
                <b-nav-item href="/login" v-if="!isLogged">Login</b-nav-item>
                <b-nav-item href="/register" v-if="!isLogged">Register</b-nav-item>

                <b-nav-item-dropdown v-if="isLogged"  right>
                    <!-- Using button-content slot -->
                    <template slot="button-content">
                        <em>{{ username }}</em>
                    </template>
                    <b-dropdown-item :href='"/user/" + profileLink'>Profile</b-dropdown-item>
                    <b-dropdown-item :href='"/list/" + profileLink'>My List</b-dropdown-item>
                    <b-dropdown-item href="#" v-on:click="logoutUser">Log Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>

        </b-collapse>
    </b-navbar>
</template>

<script>
export default {
  name: 'NavBar',
    data(){
        return {
            searchText: ""
        }
    },
    computed: {
        username() {
            return this.$store.state.username;
        },
        isLogged() {
            return this.$store.getters.userIsLogged;
        },
        isAdmin() {
            return this.$store.getters.userIsAdmin;
        },
        profileLink() {
            return this.$store.state.idUser;
        }
    },
    methods: {
        logoutUser() {
            this.$store.dispatch('logout');
        },
        searchBook() {
            if(this.searchText === "") {
                this.$router.push({path: '/search'})
            } else {
                this.$router.push({
                    name: 'SearchResults',
                    params: {
                        bookTitle: this.searchText
                }
            })
            }
        }
    },
};
</script>
