<template>
    <b-container class="mt-5 p-4 user-history-container">
        <h2 class="mt-4 mt-lg-0">Recent activity</h2>

        <div class="history-activity" v-if="activityInfo.length === 0">
            There is no recent activity for this user.
        </div>

        <div class="history-activity" v-for="entry in activityInfo">
            <b>{{username}}</b> {{getConnectionString(entry.status)}} <b><a :href="'/book/' + entry.idBook">{{entry.title}}</a></b> by <b>{{entry.author}}</b> <span v-if="hasRating(entry.rating)"> and rated it {{entry.rating}}&#9733;</span>.
        </div>
    </b-container>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "ProfileActivity",
        beforeCreate() {
            axios.get(`/profile/list/activity/${this.$route.params.id}`)
                .then(activity => {
                    this.activityInfo = activity.data.activity;
                })
        },

        data(){
            return {
                activityInfo: []
            }
        },
        props:{
            username: {
                type: String,
            }
        },
        methods:{
            getConnectionString(string) {
                switch(string) {
                    case "reading":
                        return "is currently reading";
                        break;
                    case "finished":
                        return "finished reading";
                        break;
                    case "planned":
                        return "wants to read";
                        break;
                    case "unfinished":
                        return "dropped";
                        break;
                }
            },
            hasRating(rating) {
                return rating !== null;
            }
        },
        computed:{

        },
    }
</script>