<template>
    <b-container class="mt-5 p-4 featured-area">
        <h2 class="text-center">{{title}}</h2>
        <b-row>
            <div class="col-12 col-sm-6 col-lg-4 mt-4" v-for="book in booksList">
                    <div class="book-container">
                        <b-link :href="'/book/' + book.id">
                            <b-img :src="buildImageURL(book.imagePath)" center :alt="book.title" />
                            <h6>{{book.title}}</h6>
                        </b-link>
                        <p class="author">by {{book.author}}</p>
                        <thumbnail-book-rating :bookID="book.id" />
                        <thumbnail-change-status :bookID="book.id" v-if="isLogged"/>
                    </div>
            </div>
        </b-row>
    </b-container>
</template>

<script>
    import axios from "axios";
    import ThumbnailChangeStatus from "./ThumbnailChangeStatus";
    import ThumbnailBookRating from "./ThumbnailBookRating";

    export default {
        name: "RandomBooks",
        components: {ThumbnailBookRating, ThumbnailChangeStatus},
        beforeCreate() {
            axios.get(`/books/featured`)
                .then(books => {
                    this.booksList = books.data.books
                    this.apiUrl = axios.defaults.baseURL
                })
        },
        props: {
            title: {
                type: String
            }
        },
        data(){
            return {
                booksList: [],
                apiUrl: null
            }
        },
        methods:{
            buildImageURL(imagePath) {
                return this.apiUrl + '/' + imagePath;
            }
        },
        computed:{
            isLogged() {
                return this.$store.getters.userIsLogged;
            },
        },
    }
</script>