<template>
    <rate :length="5" :value="this.bookRating" :showcount="false" :readonly="true"  />
</template>

<script>
    import axios from 'axios';

    export default {
        name: "ThumbnailBookRating",
        created() {
            axios.get(`/books/getrating/${this.bookID}`)
                .then(result => {
                    this.bookRating = result.data.rating
                }).catch(error => {
                console.log(error)
            })
        },
        data(){
            return {
                bookRating: null
            }
        },
        props:{
            bookID:{
                required: true
            }
        },
    }
</script>