<template>
    <div class="userList text-center mt-2">
        <b-button class="" variant="primary" @click="showModal">{{buttonText}}</b-button>

        <b-modal :ref="'bookStatus-modal-' + this.bookID" hide-footer centered title="Select current status for this book">
            <div class="status-selector d-block text-center">
                <b-button :id="'reading-' + this.bookID" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus" data-status="reading">
                    <font-awesome-icon icon="book-open" class="mr-2"/> Reading
                </b-button>

                <b-button :id="'finished-' + this.bookID" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus" data-status="finished">
                    <font-awesome-icon icon="flag-checkered" class="mr-2" /> Finished
                </b-button>

                <b-button :id="'planned-' + this.bookID" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus" data-status="planned">
                    <font-awesome-icon icon="chart-line" class="mr-2" />Planned
                </b-button>

                <b-button :id="'unfinished-' + this.bookID" variant="outline-primary" block class="d-block mx-auto mt-2" @click="updateStatus" data-status="unfinished">
                    <font-awesome-icon icon="book-dead" class="mr-2" />Unfinished
                </b-button>

                <b-button v-if="showDelete" variant="danger" class="d-block mx-auto mt-5" @click="deleteStatus">Remove book</b-button>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import axios from 'axios';
    import {showNotification} from "../utilities";

    export default {
        name: "ThumbnailChangeStatus",
        created() {
            const config = {
                headers: {
                    Authorization: 'Bearer ' + this.$store.state.idToken
                }
            };

            axios.get(`/profile/list/status/${this.bookID}`, config)
                .then(result => {
                    this.bookStatus = result.data.status
                }).catch(error => {
                    console.log(error)
            })
        },
        data(){
            return {
                bookStatus: null
            }
        },
        props:{
            bookID:{
                required: true
            }
        },
        methods:{
            initialize() {
                var button;
                var modal = document.getElementsByClassName("status-selector");

                for (let i = 0; i < modal.length; i++) {
                    button = modal[i].children;
                    for (let j = 0; j < button.length; j++) {
                        if (button[j].id) {
                            button[j].classList.add('btn-outline-primary')
                            button[j].classList.remove('btn-primary');
                        }
                    }
                }
            },
            showModal() {
                this.$refs[`bookStatus-modal-${this.bookID}`].show();
                this.initialize();
                if (this.bookStatus !== null) {
                    const button = document.getElementById(`${this.bookStatus}-${this.bookID}`);
                    button.classList.remove('btn-outline-primary')
                    button.classList.add('btn-primary');
                }
            },
            hideModal() {
                this.$refs[`bookStatus-modal-${this.bookID}`].hide()
            },
            updateStatus(event) {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };
                axios.post(`/profile/list/updatestatus/${this.bookID}`,{
                    status: event.target.dataset.status
                }, config).then(res => {
                    showNotification({
                        type: "success",
                        title: "List change",
                        text: res.data.message
                    });
                    this.bookStatus = event.target.dataset.status
                    this.hideModal();
                }).catch(error => {
                    showNotification({
                        type: "danger",
                        title: "Error",
                        text: error.data.message
                    });
                })
            },
            deleteStatus() {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };
                axios.delete(`/profile/list/deletestatus/${this.bookID}`, config).then(res => {
                    showNotification({
                        type: "success",
                        title: "List change",
                        text: res.data.message
                    });
                    this.bookStatus = null;
                    this.hideModal();
                }).catch(error => {
                    showNotification({
                        type: "danger",
                        title: "Error",
                        text: error.data.message
                    });
                })
            }
        },
        computed:{
            showDelete() {
                return this.bookStatus !== null;
            },
            buttonText() {
                return this.bookStatus !== null ? "Update status" : "Add book to my list"
            }
        },
    }
</script>