<template>
    <div :class="`compatibility ${isDisabled}`">
        <label>Compatibility: </label> <span class="value">{{compatibility}}%</span>
        <div class="progress">
            <div :class="`progress-bar bg-${getColor}`" role="progressbar" aria-valuenow="14.15" aria-valuemin="0" aria-valuemax="100" :style="`width: ${compatibility}%;`"></div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "UserCompatibility",
        watch: {
          disabled: {
              immediate: true,
              handler(newVal, oldVal) {
                  if(newVal !== oldVal && newVal !== true) {

                      const config = {
                          headers: {
                              Authorization: 'Bearer ' + this.$store.state.idToken
                          }
                      };

                      axios.get(`/profile/list/compatibility/${this.$route.params.id}`, config)
                          .then(result => {
                              this.compatibility = result.data.compatibility;
                              console.log(this.compatibility)
                          })
                  }
              }
          }
        },
        data(){
            return {
                compatibility: 0
            }
        },
        props:{
            disabled:{
                required:true
            }
        },
        computed: {
            status() {
                return this.disabled ? "disabled" : "active"
            },
            getColor() {
                if(this.compatibility < 33) return "danger";
                if(this.compatibility >= 33 && this.compatibility < 66) return "warning";

                return "success"
            },
            isDisabled() {
                if(this.disabled) return "d-none"
            }
        },
    }
</script>