<template>
    <b-container class="mt-5 p-4 user-comments-container">

        <div class="leave-comment">
            <h3>Leave comment</h3>

            <span class="reply-mode" v-if="replyMode">You're replying to <a :href="'/user/' + replyUser[0]" target="_blank">{{replyUser[1]}}</a>:</span>

            <b-form-textarea
                    id="textarea"
                    v-model="currentComment"
                    placeholder="Enter your comment"
                    rows="3"
                    max-rows="6"
                    :state="null"
            ></b-form-textarea>
            <div v-bind:class="classObject">
                Characters left: <span>{{count}}</span>
            </div>
            <div class="buttons-wrapper">
                <b-button variant="primary" :disabled="commentOverLimit" class="mt-3 d-inline-block" @click="submitComment">Post comment</b-button>
                <b-button variant="danger" class="mt-3 d-inline-block" @click="resetReply" v-if="replyMode">Cancel mention</b-button>
            </div>
        </div>

        <div class="mt-4 comments">
            <h3>Profile Comments</h3>

            <div class="mt-3 p-4 comment" v-if="paginatedData.length <= 0">
                <blockquote class="blockquote">
                    <p class="mb-0 text-center">No comments available</p>
                </blockquote>
            </div>

            <div v-for="comment in paginatedData">
                <div class="mt-3 p-4 comment">
                    <blockquote class="blockquote">
                        <p class="mb-0" v-html="comment.comment"></p>
                        <footer class="blockquote-footer"><a :href="'/user/' + comment.id" class="mr-1">{{comment.username}}</a> <span class="profile-owner" v-if="isOwner(comment.id)">(Profile Owner)</span> on {{comment.createdAt}}</footer>
                        <b-button variant="danger" size="sm" @click="deleteComment(comment.commentID)" class="mt-2 delete-btn" v-if="renderDelete(comment.id)">Delete</b-button>
                        <b-button variant="primary" size="sm" @click="enterReplyMode(comment.id, comment.username, comment.commentID)" class="mt-2 reply-btn" v-if="renderReply(comment.id)">Reply</b-button>
                        <a href="#" class="see-thread" v-if="comment.parentID !== 0" @click.prevent="openThread(comment.parentID)">See thread</a>
                    </blockquote>
                </div>
            </div>
        </div>

        <b-modal size="xl"ref="modal-thread" hide-footer centered title="Full discussion thread">

            <div v-for="comment in threadParent">
                <div class="mt-3 p-4 comment">
                    <blockquote class="blockquote">
                        <p class="mb-0" v-html="comment.comment"></p>
                        <footer class="blockquote-footer"><a :href="'/user/' + comment.id" class="mr-1">{{comment.username}}</a> <span class="profile-owner" v-if="isOwner(comment.id)">(Profile Owner)</span> on {{comment.createdAt}}</footer>
                        <b-button variant="primary" size="sm" @click="enterReplyMode(comment.id, comment.username, comment.commentID)" class="mt-2 reply-btn" v-if="renderReply(comment.id)">Reply</b-button>
                    </blockquote>
                </div>
            </div>

            <hr class="my-4">

            <h3 class="text-center font-weight-bold">Discussion</h3>

            <div v-for="comment in threadComments">
                <div class="mt-3 p-4 comment">
                    <blockquote class="blockquote">
                        <p class="mb-0" v-html="comment.comment"></p>
                        <footer class="blockquote-footer"><a :href="'/user/' + comment.id" class="mr-1">{{comment.username}}</a> <span class="profile-owner" v-if="isOwner(comment.id)">(Profile Owner)</span> on {{comment.createdAt}}</footer>
                        <b-button variant="primary" size="sm" @click="enterReplyMode(comment.id, comment.username, comment.parentID)" class="mt-2 reply-btn" v-if="renderReply(comment.id)">Reply</b-button>
                    </blockquote>
                </div>
            </div>
        </b-modal>

        <div class="mt-4 mt-xl-5 text-center">
            <b-button variant="dark" :disabled="pageNumber === 0" @click="prevPage">Previous</b-button>
            <b-button variant="dark" :disabled="pageNumber >= pageCount" @click="nextPage" class="ml-3">Next</b-button>
        </div>
    </b-container>
</template>

<script>

    import axios from 'axios';
    import {showNotification} from "../utilities";

    export default {
        name: "UserComments",
        created() {
            this.fetchComments();

            this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
                this.threadParent = []
            })
        },

        data(){
            return {
                pageNumber: 0,
                currentComment: "",
                listData: [],
                replyMode: false,
                replyUser: [],
                replyParent: 0,
                maxChars: 280,
                threadComments: [],
                threadParent: []
            }
        },
        props:{
            size:{
                type:Number,
                default: 5
            }
        },
        methods:{
            nextPage(){
                this.pageNumber++;
            },
            prevPage(){
                this.pageNumber--;
            },
            fetchComments() {
                axios.get(`/users/get/comments/${this.$route.params.id}`)
                    .then(comments => {
                        this.listData = comments.data.comments;
                    })
            },
            submitComment() {

                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };

                let finalComment;


                if (this.replyMode) {
                    finalComment = `<a href="/user/${this.replyUser[0]}">@${this.replyUser[1]}</a> ${this.currentComment}`
                } else {
                    finalComment = this.currentComment;
                }

                axios.post(`/users/new/comment/${this.$route.params.id}`, {
                    comment: finalComment,
                    parentID: this.replyParent
                }, config)
                    .then((res) => {
                        showNotification({
                            type: "success",
                            title: "Comment added",
                            text: "Comment posted"
                        });
                        this.resetReply();
                        this.fetchComments();
                        this.currentComment = "";
                    }).catch(error => {
                    showNotification({
                        type: "error",
                        title: "Post failed",
                        text: error.response.data.message
                    });
                })
            },
            isOwner(authorID) {
                return authorID.toString() === this.$route.params.id
            },

            renderReply(authorID) {
                return this.$store.getters.userIsLogged &&  (this.$store.state.idUser.toString() !== authorID.toString())
            },

            renderDelete(authorID) {
                return (this.$store.getters.userIsLogged && (this.$route.params.id === this.$store.state.idUser.toString())) || this.$store.getters.userIsAdmin;
            },

            deleteComment(commentID) {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };

                axios.delete(`/users/delete/comment/${commentID}`, config)
                    .then((res) => {
                        showNotification({
                            type: "success",
                            title: "Comment deleted",
                            text: "You deleted this comment"
                        });
                        this.fetchComments();
                    }).catch(error => {
                    showNotification({
                        type: "error",
                        title: "Failed to delete",
                        text: error.response.data.message
                    });
                })
            },

            resetReply() {
                this.replyMode = false;
                this.replyUser = [];
                this.replyParent = 0;
            },

            enterReplyMode(userID, username, commentID) {
                this.replyMode = true;
                this.replyUser = [userID, username];
                this.replyParent = commentID;

                this.hideModal()

                let element = document.getElementsByClassName("user-comments-container")[0];
                element.scrollIntoView();
            },

            openThread(parentID) {

                axios.post(`/users/get/comments/thread/${parentID}`, {
                    userID: this.$route.params.id
                })
                    .then(comments => {
                        this.threadComments = comments.data.comments;
                        this.threadParent.push(comments.data.parent);
                        this.showModal();
                    })
            },

            showModal() {
                this.$refs["modal-thread"].show();

            },
            hideModal() {
                this.$refs["modal-thread"].hide();
            },
        },
        computed:{
            pageCount(){
                let l = this.listData.length,
                    s = this.size;
                return Math.floor(l/s);
            },
            paginatedData(){
                const start = this.pageNumber * this.size,
                    end = start + this.size;
                return this.listData
                    .slice(start, end);
            },
            count() {
                return this.maxChars - this.currentComment.length
            },

            commentOverLimit() {
                return this.count < 0
            },
            classObject: function () {
                return {
                    negative: this.commentOverLimit
                }
            }
        },
    }
</script>

<style scoped lang="scss">

    .comment {
        border-radius: 10px;
        background-color: white;

        .profile-owner {
            font-weight: bolder;
            color: rgba(231, 76, 60, 1);
        }

        .delete-comment {
            margin-left: 10px;
        }

        .delete-btn {
            + .reply-btn {
                margin-left: 10px;
            }
        }

        .see-thread {
            float: right;
            font-size: 14px;
            margin-top: 13px;
            margin-right: 10px;
            text-decoration: none;
        }
    }

    .modal-body {
        .comment {
            background-color: #D8D8D8
        }
    }
</style>