<template>
    <b-container class="mt-5 p-4 user-list-container">
        <h2 class="mt-4 mt-lg-0">{{ title }}</h2>

        <div class="list-total">
            (Total: {{listSize}})
        </div>

        <div class="list-item" v-if="listData.length === 0">
            There are no books added to this list.
        </div>

        <div class="list-item" v-for="book in listData">
            <a :href="'/book/' + book.Books[0].id" target="_blank" > <b>{{ book.Books[0].title }}</b> </a>  by <b>{{ book.Books[0].author }}</b>, <i> {{action}} {{ daysAgo(book.updatedAt) }}</i>.
        </div>
    </b-container>
</template>

<script>
    import moment from 'moment';
    export default {
        name: "UserListContainer",
        props:{
            listData:{
                type:Array,
                required:true
            },
            title: {
                type: String,
                required: true
            },
            action: {
                type: String,
                required: true
            }
        },
        computed: {
            listSize(){
                return this.listData.length;
            },
        },
        methods:{
            daysAgo(updateDate) {
                let today = moment();
                let changeDate = moment(updateDate)

                let diff = today.diff(changeDate, 'days');

                if(diff === 0) return "today";
                if(diff === 1) return "yesterday";

                return `${diff} days ago`;
            }
        },
    }
</script>

<style scoped>

</style>