<template>
    <b-container>
        <div class="requests-container mt-5">
            <h3>
                Manage users
            </h3>

            <b-table responsive light head-variant="light" :items="usersList" show-empty>
                <span slot="action" slot-scope="data" v-html="data.value"></span>
                <template slot="action" slot-scope="data">
                    <b-button size="sm" variant="primary" v-on:click.prevent="deleteUser(data.value)">Delete User</b-button>
                </template>

                <template slot="username" slot-scope="data">
                    <a :href='"/user/" + data.value.id'>{{data.value.name}}</a>
                </template>
            </b-table>
        </div>
    </b-container>
</template>


<script>

    import axios from 'axios';
    import {showNotification} from "../../utilities";

    export default {

        created() {
            this.updateUsersList();
        },

        data() {
            return {
                usersList: []
            };
        },
        methods: {

            initialize() {
              this.usersList = []
            },

            updateUsersList() {

                this.initialize();

                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };

                axios.get('/users/get/userslist', config)
                    .then(users => {

                        let usersList = users.data.listOfUsers;

                        for (let i = 0; i < usersList.length; i++) {
                            let temporyObject = {
                                username: {
                                    name: usersList[i].username,
                                    id: usersList[i].id
                                },
                                role: usersList[i].role,
                                action: usersList[i].id
                            };

                            this.usersList.push(temporyObject)
                        }
                    })
            },

            deleteUser(userID) {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };

                axios.delete(`/users/delete/user/${userID}`, config)
                    .then(users => {
                        showNotification({
                            type: "success",
                            title: "User List Changed",
                            text: users.data.message
                        });

                        this.updateUsersList()
                    })
            }
        },
    };
</script>
