<template>
    <div class="form-box">
        <b-form @submit="onSubmit" enctype="multipart/form-data">

            <h2>Add new book</h2>

            <b-form-group
                    id="bookTitleGroup"
                    label="Title"
                    label-for="bookTitle">
                <b-form-input
                        id="bookTitle"
                        type="text"
                        v-model="form.title"
                        required
                        placeholder="Book name">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    id="bookAuthorGroup"
                    label="Author"
                    label-for="bookAuthor">
                <b-form-input
                        id="bookAuthor"
                        type="text"
                        v-model="form.author"
                        required
                        placeholder="Author Name">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    id="bookReleaseGroup"
                    label="Release Date"
                    label-for="bookDate">
                <b-form-input
                        id="bookDate"
                        type="date"
                        v-model="form.date"
                        required
                        placeholder="Release Date">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    id="bookisbnGroup"
                    label="ISBN"
                    label-for="bookISBN">
                <b-form-input
                        id="bookISBN"
                        type="text"
                        v-model="form.isbn"
                        required
                        placeholder="ISBN">
                </b-form-input>
            </b-form-group>

            <b-form-group
                    id="bookimageGroup"
                    label="Image"
                    label-for="bookImage">
            <b-form-file id="bookImage" v-model="form.image" plain required />
            </b-form-group>

            <b-form-group
                    id="bookDescriptionGroup"
                    label="Book Description"
                    label-for="bookDescription">
                <b-form-textarea
                        id="bookDescription"
                        v-model="form.description"
                        rows="7"
                        required
                        placeholder="Enter your description">
                </b-form-textarea>
            </b-form-group>

            <b-form-group
                    id="bookGenresGroup"
                    label="Book Genres"
                    label-for="bookGenres">
                <b-form-checkbox-group
                    id="bookGenres"
                    stacked
                    v-model="form.genres"
                    :options="genres" />
            </b-form-group>

            <b-form-group
                    id="bookPublisherGroup"
                    label="Publisher"
                    label-for="bookPublisher">
                <b-form-input
                        id="bookPublisher"
                        type="text"
                        v-model="form.publisher"
                        required
                        placeholder="Book publisher">
                </b-form-input>
            </b-form-group>

            <div class="mt-3">
                <b-button type="submit" variant="primary">Add book</b-button>
            </div>
        </b-form>
    </div>
</template>


<script>
    export default {

        data() {
            return {
                form: {
                    title: '',
                    author: '',
                    date: null,
                    isbn: '',
                    image: null,
                    description: '',
                    genres: [],
                    publisher: ''
                },
                genres: [
                    { text: 'Action', value: 'action' },
                    { text: 'Biography', value: 'biography' },
                    { text: 'Comedy', value: 'comedy' },
                    { text: 'Crime', value: 'crime' },
                    { text: 'Drama', value: 'drama' },
                    { text: 'Dystopia', value: 'dystopia' },
                    { text: 'Fantasy', value: 'fantasy' },
                    { text: 'Horror', value: 'horror' },
                    { text: 'Mistery', value: 'mistery' },
                    { text: 'Novel', value: 'novel' },
                    { text: 'Poetry', value: 'poetry' },
                    { text: 'Romance', value: 'romance' },
                    { text: 'Science Fiction', value: 'scienceFiction' },
                    { text: 'Thriller', value: 'thriller' },
                ],
            };
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault();

                const formData = new FormData();
                formData.append('bookImage', this.form.image);
                formData.append('title', this.form.title);
                formData.append('author', this.form.author);
                formData.append('date', this.form.date);
                formData.append('isbn', this.form.isbn);
                formData.append('description', this.form.description);
                formData.append('publisher', this.form.publisher);
                formData.append('genres', this.form.genres);

                this.$store.dispatch('adminAddBook', formData);
            },
        },
    };
</script>
