<template>
    <b-container>
        <div class="requests-container mt-5">
            <h3>
                Review Book Requests
            </h3>

            <b-table responsive light head-variant="light" :items="activeRequest" show-empty>
                <span slot="action" slot-scope="data" v-html="data.value"></span>
                <template slot="action" slot-scope="data">
                    <b-button size="sm" variant="primary" v-on:click.prevent="fetchRequestInfo(data.value)">View More</b-button>
                </template>
            </b-table>
        </div>

        <div class="requests-container mt-5">
            <h3>
                Reviewed Book Requests
            </h3>

            <b-table responsive light head-variant="light" :items="reviewedRequests" show-empty></b-table>
        </div>

        <b-modal ref="request-modal" hide-footer size="xl" centered title="Review Book Request">
            <div class="request-info d-block text-center">
                <img :src="buildImageURL(currentRequestInfo.imagePath)" alt="bookImage">

                <h2>
                    {{currentRequestInfo.title}}
                </h2>
                <span class="author">by {{currentRequestInfo.author}}</span>

                <div class="description" v-html="currentRequestInfo.description"></div>

                <ul>
                    <li><b>Release Date: </b> {{currentRequestInfo.formatedReleaseDate}} </li>
                    <li><b>ISBN: </b> {{currentRequestInfo.isbn}} </li>
                    <li><b>Genres: </b> {{currentRequestInfo.formatedGenres}}</li>
                    <li><b>Publisher: </b> {{currentRequestInfo.publisher}}</li>
                </ul>

                <div class="action-buttons">
                    <b-button variant="primary" v-on:click="changeRequestStatus(currentRequestID, 'accepted')">Accept</b-button>
                    <b-button variant="danger" v-on:click="changeRequestStatus(currentRequestID, 'rejected')">Reject</b-button>
                </div>
            </div>
        </b-modal>
    </b-container>
</template>


<script>

    import axios from 'axios';
    import {showNotification} from "../../utilities";

    export default {

        created() {
            this.updateRequests();
        },

        data() {
            return {
                activeRequest: [],
                reviewedRequests: [],
                currentRequestID: 0,
                currentRequestInfo: {},
                apiUrl: null
            };
        },
        methods: {

            initializeLists() {
              this.activeRequest = [];
              this.reviewedRequests = [];
            },

            updateRequests() {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };

                axios.get('/users/get/adminrequests', config)
                    .then(requests => {
                        this.initializeLists();
                        this.processRequests(requests.data.activeRequest, requests.data.reviewedRequests)
                    })
            },

            processRequests(activeReq, reviewedReq) {
                let cellColor;

                for (let i = 0; i < activeReq.length; i++) {
                    let temporyObject = {
                        title: activeReq[i].title,
                        author: activeReq[i].author,
                        action: activeReq[i].id
                    };

                    this.activeRequest.push(temporyObject)
                }

                for (let i = 0; i < reviewedReq.length; i++) {

                    if (reviewedReq[i].status === 'accepted') cellColor = "success";
                    if (reviewedReq[i].status === 'pending') cellColor = "warning";
                    if (reviewedReq[i].status === 'rejected') cellColor = "danger";

                    let temporyObject = {
                        title: reviewedReq[i].title,
                        author: reviewedReq[i].author,
                        status: reviewedReq[i].status,
                        _cellVariants: { status: cellColor }
                    };

                    this.reviewedRequests.push(temporyObject)
                }
            },

            openModal() {
                this.$refs['request-modal'].show();
            },

            closeModal() {
                this.$refs['request-modal'].hide();
            },

            fetchRequestInfo(requestID) {
                this.currentRequestID = requestID;
                axios.get(`/users/get/requestInfo/${this.currentRequestID}`)
                    .then(request => {
                        this.currentRequestInfo = request.data.request;
                        this.apiUrl = axios.defaults.baseURL;
                        this.openModal()
                    })
            },

            buildImageURL(imagePath) {
                return this.apiUrl + '/' + imagePath;
            },

            changeRequestStatus(requestID, requestStatus) {
                const config = {
                    headers: {
                        Authorization: 'Bearer ' + this.$store.state.idToken
                    }
                };

                axios.post(`/users/change/requestStatus/${requestID}`, {
                    status: requestStatus
                }, config)
                    .then(response => {
                        showNotification({
                            type: "success",
                            title: "Request changed",
                            text: response.data.message
                        });
                        this.updateRequests();
                        this.closeModal();
                    })
                    .catch((error) => {
                        showNotification({
                            type: "error",
                            title: "Error",
                            text: error.response.data.message
                        });
                    });
            }
        },
    };
</script>
